@import "global.css";

hr {
    width: 85%;
    border: 2px solid var(--logo-red);
    border-radius: 10px;
}

.footerinnerdiv {
    width: 100%;
    display: flex;
}

.footericon {
    margin-right: 10px;
}

.decorline {
    border-left: 0.15rem solid lightgray;
    padding-left: 1.25rem;
    margin-left: 1.25rem;
    padding-right: 1.25rem;
}

#footercontent {
    display: flex;
    flex-direction: row;
    align-items:center;
    justify-content: space-between;
    margin-bottom: 1rem;
}

#footerlogodiv {
    margin-left: 1.25rem;
}

#accountnum {
    font-size: 1.25rem;
    font-weight: bold;
    color: var(--logo-blue);
    margin-top: 0.5rem;
}

@media screen and (max-width: 900px) {
    
#footercontent {
    flex-wrap: wrap;
    margin: 0px;
}

.decorline {
    padding-right: 1.25rem;
}

#donatediv{
    margin: 1.25rem auto 1.25rem auto;
    /* margin-bottom: 1.25rem; */
}
}

@media screen and (max-width: 818px) {

#footercontent {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#footerlogodiv {
    grid-column: 1;
    grid-row: 1;
    margin-left: 4rem;
}

#footercontactdiv {
    grid-column: 1 / 3;
    grid-row: 2;
}

#footeraccountnumdiv {
    grid-column: 1 / 3;
    grid-row: 3;
}

#footerdonatediv {
    grid-column: 2;
    grid-row: 1;
    /* margin: auto; */
}

.decorline {
    border-left: none;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
    width: auto;
    margin: auto;
}

#footercontactdiv {
    border-top: 0.15rem solid lightgray;
    border-bottom: 0.15rem solid lightgray;
}

}

@media screen and (max-width: 519px) {
    
#footercontent {
    display: block;
}

#footercontactdiv {
    border: none;
}

.decorline, #donatediv {
    width: fit-content;
}

#footerlogodiv {
    margin: 0;
    display: flex;
    justify-content: center;
}


}