:root {
    --logo-blue: #001f5f;
    --logo-red: #de352a;
    --pc-font-size: 16px;
    --mo-font-size: 30px;
    /* font sizes */
    --pc-20-mo-37_5: 1.25rem;
    --pc-20_8-mo-39: 1.3rem;
    --pc-25-mo-46_8: 1.56rem;
    --pc-30-mo-56_1: 1.87rem;
}

html {
    font-family: Calibri;
    /* font-size: var(--pc-font-size); */
    width: 100%;
    width: 100%;
    margin: 0px;
}

body {
    width: 100%;
    height: 100%;
    margin: 0px;
    z-index: 1;
}

.logo {
    width: 9.85rem;  /* 150px  */ 
}

/* donate button style */
.donatebtn {
    width: 16rem;
    height: 3rem;
    background-color: var(--logo-blue);
    color: white;
    font-size: 1.25rem;
    font-weight: bold;
    border-width: 0;
    border-radius: 30px;
    margin-left: 20px;
    margin-right: 25px;
    padding: 10px 20px 10px 20px;
}
.donatebtn:hover {
    font-size: 1.3rem;
}

main {
    margin: 0;
    padding: 5rem 1rem 0rem 1rem;
}

/* mobile view */
/* @media screen and (max-width: 780px) {

html {
    font-size: var(--mo-font-size);
}


} */