:root {
    --logo-blue: #001f5f;
    --logo-red: #de352a;
}

html {
    /* background-color: skyblue; */
    font-family: Calibri;
}

body{
    margin: 0;
}

/* HEADER */
header {
    background-color: white;
    width: 100%;
    position: fixed;
    display: flex;
    flex-direction: row;
    align-items:center;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2)
}

.menu {
    width: 25%;
    min-width: 70px;
}

.home {
    width: 45%;
    min-width: 150px;
    display: flex;
    justify-content: center;
}

.donate {
    width: 30%;
    min-width: 290px;
    display: flex;
    justify-content: end;
}

#menuicon {
    font-size: 30px;
    color: var(--logo-blue);
    margin-left: 20px;
    margin-right: 20px;
}

.logo {
    width: 150px;
}

.donatebtn {
    background-color: var(--logo-blue);
    color: white;
    font-size: 20px;
    font-weight: bold;
    width: 240px;
    height: 50px;
    border-radius: 30px;
    border-width: 0;
    margin-left: 20px;
    margin-right: 25px;
}

.donatebtn:hover {
    font-size: 21px;
}

/* FOOTER */
hr {
    width: 85%;
    border: 2px solid var(--logo-red);
    border-radius: 10px;
}

#footerdiv {
    width: 100%;
    display: flex;
    align-items: center;
}

#footerlogodiv {
    width: 20%;
}
#footercontactdiv {
    width: 26%;
    border-left: 2px solid lightgray;
    padding-left: 20px;
    padding-right: 20px;
}
#footeraccountnumdiv {
    width: 26%;
    display: block;
    border-left: 2px solid lightgray;
    padding-left: 20px;
    padding-right: 20px;
}
#footerdonatediv {
    width: 20%;
}

.footerinnerdiv {
    display: flex;
}

.footericon {
    margin-right: 5px;
    /* color: var(--logo-blue); */
}

.footertext {
    font-size: 16px;
    /* color: var(--logo-blue); */
}

#footerlogo {
    margin-left: 10px;
}

#accountnuminnerdiv {
    display: flex;
}

#accountnum {
    font-size: 20px;
    font-weight: bold;
    color: var(--logo-blue);
    margin-top: 5px;
}

@media screen and (max-width: 810px) {
    #footerdiv {
        flex-wrap: wrap;
    }

    #footerlogodiv {
        width: 24%;
    }
    #footercontactdiv {
        width: 30%;
    }
    #footeraccountnumdiv {
        width: 35%;
    }
    #footerdonatediv {
        width: 100%;
        justify-content: center;
        margin-top: 20px;
        margin-bottom: 20px;
    }
}

@media screen and (max-width: 780px)
{
#footerdiv {
    display: grid;
}

#footerlogodiv {
    grid-column: 1;
    grid-row: 1;
    margin-left: 50px;
}

#footercontactdiv {
    grid-column: 1 / 3;
    grid-row: 2;
    display: flex;
    flex-direction: column;
    width: 40%;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    border-left: none;
    border-top: 2px solid lightgray;
    border-bottom: 2px solid lightgray;
    padding: 10px 20px 10px 20px;
}

#footeraccountnumdiv {
    grid-column: 1 / 3;
    grid-row: 3;
    width: 100%;
    justify-content: center;
    margin-top: 10px;
    border-left: none;
}

#footerdonatediv {
    grid-column: 2;
    grid-row: 1;
    width: 90%;
}

#accountnuminnerdiv {
    justify-content: center;
}

#accountnum {
    text-align: center;
    margin-bottom: 20px;
}
}


/* ul{
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li{
    flex-direction: row;
    width: auto;
    margin-left: 20px;
    margin-right: 20px;
}

a {
    color: var(--logo-red);
    text-decoration: none;
    font-weight: bold;
    font-size: 24px;
}

a:hover {
    color: var(--logo-blue);
    font-size: 25px;
} */

p {
    margin: 0;
    padding-top: 90px;
    font-size: 30px;
}