:root {
    --logo-blue: #001f5f;
    --logo-red: #de352a;
}

html {
    font-family: Calibri;
    /* font-size: var(--pc-font-size); */
    width: 100%;
    width: 100%;
    margin: 0px;
}

body {
    width: 100%;
    height: 100%;
    margin: 0px;
    z-index: 1;
}

.logo {
    width: 9.85rem;  /* 150px  */ 
}

/* donate button style */
.donatebtn {
    width: 16rem;
    height: 3rem;
    background-color: var(--logo-blue);
    color: white;
    font-size: 1.25rem;
    font-weight: bold;
    border-width: 0;
    border-radius: 30px;
    margin-left: 20px;
    margin-right: 25px;
    padding: 10px 20px 10px 20px;
}
.donatebtn:hover {
    font-size: 1.3rem;
}
.donatebtn > a {
    text-decoration: none;
    color: white;
}

main {
    margin: 0;
    padding: 5rem 1rem 0rem 1rem;
}

h1 {
    color: var(--logo-blue);
    text-align: center;
}

p {
    text-align: justify;
    text-justify: inter-word;
    font-size: 1.3rem;
}

.textcontainer {
    margin: 3rem 3rem 3rem 3rem;
}

/* TODO: delete */
.comment {
    font-style: italic;
    color: var(--logo-red)
}

@media screen and (max-width: 800px) {
    
.textcontainer {
    margin: 2rem 1rem 2rem 1rem;
}
}

@media screen and (max-width: 500px) {
    
p {
    font-size: 1.2rem;
}
}