@import "global.css";

header {
    width: 100%;
    background-color: white;
    position: fixed;
    display: flex;
    flex-direction: row;
    align-items:center;
    justify-content: space-between;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2);
    z-index: 3;
}

#menuicon {
    font-size: 2rem;
    color: var(--logo-blue);
    margin-left: 1.25rem;
    margin-right: 1.25rem;
}

#menuicon:hover, #menuicon.open {
    color: var(--logo-red);
}

#menuicon.closed{
    color: var(--logo-blue);
}

@media screen and (max-width: 519px) {
    
#hideifsmall {
    display: none;
}

#headerlogodiv {
    width: 80%;
    display: flex;
    justify-content: center;
}


}