@import "global.css";

#sidebar {
  height: 90%;
  width: 11rem;
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  background-color: var(--logo-red);
  overflow-x: hidden;
  padding-top: 1.25rem;
  box-shadow: 10px 0px 10px 0 rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 5rem;
}

#sidebar.opened {
    display: flex;
}
#sidebar.closed {
    display: none;
}

ul {
    list-style-type: none;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 0;
    margin-left: 1rem;
    margin-right: 1rem;
}

li {
    font-size: 1.2rem;
    text-transform: uppercase;
    max-width: 9rem;
}

.sidebaritem {
    font-weight: bold;
    text-decoration: none;
    color: white;
    word-wrap: break-word;
}

.sidebaritem:hover {
    color: var(--logo-blue);
}

.current {
    color: var(--logo-blue);
}

#sidebardonate {
    width: 8rem;
    height: 4rem;
    margin-bottom: 2rem;
}

#donateicon {
    font-size: 2rem;
}

#donateicon:hover {
    font-size: 2.1rem;
}