#membercards {
  display: grid;
  grid-template-columns: repeat(auto-fit, 16rem);
  justify-content: center;
  gap: 1.5rem;
  margin: 0 auto;
}

.membercard {
  width: 16rem;
  height: 16rem;
  border-radius: 20px;
  box-shadow: 10px 10px 10px 0 rgba(0,0,0,.2);
  overflow: hidden;
  position: relative;
}

.memberphoto {
  width: 100%;
  height: 100%;
  display: block; 
  object-fit: cover;
  border-radius: 20px;
}

.memberphotolabel {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0; 
  height: 5.5rem;
  /* background-color: rgba(0, 31, 95, 0.9); */
  background-color: rgba(222, 53, 42, 0.9);
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 1;
  border-radius: 0px 0px 20px 20px;
}

.membername {
    font-weight: bold;
    font-size: 1.5rem;
    text-align: center;
}

.membertitle {
    font-style: italic;
    font-size: 1.2rem;
    text-align: center;
}

@media screen and (max-width: 958px) {
    
#membercards {
    grid-template-columns: repeat(auto-fit, 14rem);
    gap: 1rem;
}

.membercard {
  width: 14rem;
  height: 14rem;
}

.memberphotolabel {
    height: 4.5rem;
}

.membername {
    font-size: 1.3rem;
}

.membertitle {
    font-size: 0.9rem;
}

}

@media screen and (max-width: 850px) {
    
#membercards {
    grid-template-columns: repeat(auto-fit, 12rem);
    gap: 1rem;
}

.membercard {
  width: 12rem;
  height: 12rem;
}

.memberphotolabel {
    height: 4rem;
}

.membername {
    font-size: 1.2rem;
}

.membertitle {
    font-size: 0.9rem;
}

}

@media screen and (max-width: 686px) {
    
#membercards {
    grid-template-columns: repeat(auto-fit, 16rem);
    gap: 1.5rem;
}

.membercard {
  width: 16rem;
  height: 16rem;
}

.memberphotolabel {
    height: 5.5rem;
}

.membername {
    font-size: 1.5rem;
}

.membertitle {
    font-size: 1.2rem;
}

}

@media screen and (max-width: 350px) {
    
#membercards {
    grid-template-columns: repeat(auto-fit, 14rem);
    gap: 1.5rem;
}

.membercard {
  width: 14rem;
  height: 14rem;
}

.memberphotolabel {
    height: 5rem;
}

.membername {
    font-size: 1.3rem;
}

.membertitle {
    font-size: 1rem;
}

}
