#greeting {
    color: var(--logo-blue);
    margin-top: 5rem;
    margin-bottom: 3rem;
}

#thanks {
    color: var(--logo-blue);
    margin-top: 4rem;
    margin-bottom: 1rem;
}

#fundname {
    color: var(--logo-red);
}

#slogen {
    display: flex;
    justify-content: center;
    text-align: center;
    margin: auto;
    margin-top: 4.5rem;
    font-size: 2.5rem;
    font-style: italic;
    /* color: var(--logo-red); */
    color: var(--logo-blue)
}

#accountinfo {
    margin: 3rem auto 6rem auto;
    width: fit-content;
    padding: 2rem 3rem;
    border-radius: 40px;
    box-shadow: 30px 30px 20px 0 rgba(0,0,0,.2);
    background-color:  var(--logo-red);
    color: white;
}

.label {
    font-size: 2rem;
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

#accountnumtxt {
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
    color: var(--logo-blue);
    margin-bottom: 1.5rem;
}

#objecttxt {
    font-size: 2rem;
    font-style: italic;
    text-align: center;
    color: var(--logo-blue);
}

@media screen and (max-width: 899px) {

#slogen {
    font-size: 1.8rem;
}

#accountinfo {
    font-size: 2rem;
}

.label, #objecttxt {
    font-size: 1.8rem;
}

#accountnumtxt {
    font-size: 2.3rem;
}

}

@media screen and (max-width: 677px) {

#slogen {
    font-size: 1.6rem;
}

#accountinfo {
    font-size: 1.5rem;
    box-shadow: 20px 20px 10px 0 rgba(0,0,0,.2);
}

.label, #objecttxt {
    font-size: 1.5rem;
}

#accountnumtxt {
    font-size: 2rem;
}

}