#namewithslogen {
    margin-top: 3rem;
    margin-bottom: 3rem;
}

#name {
    display: flex;
    justify-content: center;
    font-size: 3rem;
    font-weight: bold;
    text-transform: uppercase;
    color: var(--logo-blue)
}

#slogen {
    display: flex;
    justify-content: center;
    font-size: 2.5rem;
    font-style: italic;
    color: var(--logo-red)
}