#namewithslogen {
    margin-top: 3rem;
    margin-bottom: 3rem;
}

#name {
    display: flex;
    justify-content: center;
    text-align: center;
    margin: auto;
    font-size: 3rem;
    font-weight: bold;
    text-transform: uppercase;
    color: var(--logo-blue)
}

#slogen {
    display: flex;
    justify-content: center;
    text-align: center;
    margin: auto;
    font-size: 2.5rem;
    font-style: italic;
    color: var(--logo-red)
}

@media screen and (max-width: 800px) {

#name {
    font-size: 2.6rem;
}

#slogen {
    font-size: 1.8rem;
}
}

@media screen and (max-width: 500px) {

#name {
    font-size: 2.5rem;
}

#slogen {
    font-size: 1.6rem;
}
}